.home {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logout {
        margin-right: 20px;
        padding: 20px;
        font-size: 14px;
    }
  }
  .title {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}
